{# Pimcore'un bu şablonu tanıması için bu sihirli yorum satırını eklemek en iyi pratiktir. #}
{# pimcore_template_name Standart Sayfa #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ pimcore_input('pageTitle', { 'width': 600 }) }}</h1>
    <div class="lead">
        {{ pimcore_wysiwyg('mainContent', { 'height': 300 }) }}
    </div>

    <p>Bu sayfa ana sayfadır.</p>

{% endblock %}
