{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container mt-5">
        {% if app.user %}
            Hoş geldin, {{ app.user.username }}
        {% else %}
            Hoş geldin, Ziyaretçi
        {% endif %}
        <p>Platforma giriş yaptınız. Ürün kataloğunu inceleyebilirsiniz.</p>
    </div>
{% endblock %}
