{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
<p>AnaSayfa</p>
{% endblock %}
{% block body %}
    <h1>{{ pimcore_input('pageTitle', { 'width': 600 }) }}</h1>

    <div class="lead">
        {{ pimcore_wysiwyg('mainContent', { 'height': 300 }) }}
    </div>
{% endblock %}