{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}


{% block title %}Katalog Ürün Düzenle{% endblock %}

{% block content %}

<h2>Katalog Ürün Düzenle</h2>

{% endblock %}


{% block body_scripts %}
    {{ parent() }}
<script>

</script>
{% endblock %}