{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
       
    </script>
{% endblock %}

{% block title %}Katalog Yeni Ürün Girişi{% endblock %}

{% block content %}
    
    <h1>Katalog Yeni Ürün Girişi</h1>
{% endblock %}